@charset "utf-8";
/* レイアウトのためのCSS */

body{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
	color: #fff;
	font-size:1rem;
	line-height:1.85;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; 
	word-wrap: break-word;
}

ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	color: #fff;
	text-decoration: none;
    outline: none;
}

img{
    max-width:100%;
    height: auto;
}

*{
    box-sizing: border-box
}

/* HEADER */

nav{
	position: relative;
	z-index:999;
	padding:5px 20px;
}

h1{
    font-size: 2rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    letter-spacing: 0.1em;
    width:10em;
    opacity: 0;/*ローディング画面では透過*/
}

@media screen and (max-width:768px){
 h1{
    font-size: 1.5rem;
    }
}

body.appear h1{
    opacity: 1;
}

/* area */
.sp-bottom{
    text-align: center;
}

#left6 .sp-bottom{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);    
}
#left2 .sp-bottom{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);    
}
#left3 .sp-bottom{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);    
}
#left4 .sp-bottom{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);    
}
#left5 .sp-bottom{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);    
}

h2 {
    font-size: 2rem;
    letter-spacing: 0.2em;
    margin: 0 0 30px 0;
   
}
h2.black {
    color: rgba(41, 41, 41, 0.913); /* テキストを黒色に */
}
h2.gray {
    color: rgba(181, 181, 181, 0.783); /* テキストを黒色に */
}
h2.pink {
    color: rgba(251, 101, 211, 0.952); /* テキストを黒色に */
}
h2.navy {
    color: rgba(55, 56, 108, 0.973); /* テキストを黒色に */
}
h2.red {
    color: rgba(164, 47, 47, 0.973); /* テキストを黒色に */
}

/* スマホ用のスタイル */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 4.5rem; /* フォントサイズを小さく */
        letter-spacing: 0.1em; /* 文字間隔を調整 */
        margin: -150px auto 10px auto; /* 上部に余白を追加して中央揃え */
        
        
        text-align: center; /* 中央揃え */
    }
}

#left6 .sp-bottom p{
    margin:0 0 50px 0;
    letter-spacing: 0.3em;
    white-space: nowrap;
}


#left6 .sp-bottom ul{
    display: flex;
    justify-content: center;
}

#left6 .sp-bottom ul li{
    margin: 0 10px;
}

#left6 .sp-bottom ul img{
     height:25px;   
}

#footer{
    position: fixed;
    bottom:20px;
    left: 20px;
}

@media screen and (max-width:550px){
 
#footer{
    bottom:inherit;
    left: 20px;
    top:20px;
}   
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 動画のアスペクト比を維持しながらセクションをカバー */
}
